<h1 class="my-4">{{ product_title }}</h1>
<div class="list-group">
{% for product in products %}
  <a href="{{ url('bundle') }}/{{ product.id }}" class="list-group-item">{{ product.name }}</a>
{% endfor %}
</div>
